<div class="card-body" th:fragment="info" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/}">
        <table class="table table-bordered">
            <tr>
                <th>Gesellschaftsname</th>
                <th>Land</th>
                <th>Partner-Nr.</th>
                <th>Mutter</th>
            </tr>
            <tr th:each="company : ${companyList}">
                <td th:text="${company.name}"></td>
                <td th:text="${company.country}"></td>
                <td th:text="${company.partnerNr}"></td>
                <td th:text="${company.parentId}"></td>
            </tr>
        </table>
        <a class="btn btn-outline-primary btn-sm" th:href="@{/companyform}">Gesellschaft hinzufügen</a>
    </form>
</div>