<div class="card" th:fragment="nav" xmlns:th="http://www.thymeleaf.org">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="all-tab" data-toggle="tab" href="index" role="tab" aria-controls="home" aria-selected="true">All orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="add-tab" data-toggle="tab" href="index" role="tab" aria-controls="home" aria-selected="false">Add order</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="all-tab">
            <div th:replace="fragments/info :: div"></div>
        </div>
        <div class="tab-pane fade" role="tabpanel" aria-labelledby="add-tab">
            <!--<div th:replace="fragments/orderform :: div"></div>-->
        </div>
    </div>
</div>