<div class="card-body" th:fragment="orderform" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="order" type="com.example.demo.Model.OrderDetails"*/-->
    <form th:action="@{/add}" th:object="${order}">
        <div class="form-group">
            <label for="customer">Customer</label>
            <input type="text" class="form-control" id="customer" th:field="${order.customerID}"/>
            <label for="product">Product</label>
            <input type="text" class="form-control" id="product" th:field="${order.productID}"/>
            <label for="date">Order date</label>
            <input type="date" class="form-control" id="date" th:field="${order.orderDate}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <h4 class="text-danger" th:if="${err}" th:text="${err}"></h4>
        <h4 class="text-success" th:if="${succ}" th:text="${succ}"></h4>
    </form>
</div>