<div class="card-body" th:fragment="form" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/save}" th:object="${companyForm}" method="post">
        <table class="table" style="border: hidden">
            <tr style="border: hidden">
                <td>Gesellschaftsname:</td>
                <td><input type="text" class="form-control" th:field="*{name}" placeholder="Gesellschaftsname.."/></td>
            </tr>
            <tr style="border: hidden">
                <td>Land:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{country}" list="countries" placeholder="Land..">
                    <datalist id="countries">
                        <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
                    </datalist>
                    </input>
                </td>
            </tr>
            <tr style="border: hidden">
                <td>Partner-Nr.:</td>
                <td><input type="text" class="form-control" th:field="*{partnerNr}" placeholder="Partnernummer.."/></td>
            </tr>
            <tr style="border: hidden">
                <td>Mutter:</td>
                <td>
                    <select class="form-control">
                        <option th:field="*{parentId}" th:each="company : ${companies}" th:value="${company.parentId}"
                                th:label="${company.partnerNr} + ' ' + ${company.name}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary" name="action" value="save">OK</button>
        <button type="submit" class="btn btn-primary" name="action" value="cancel">Abbrechen</button>
        <h5 class="text-danger" th:if="${error}" th:text="${error}"></h5>
        <h5 class="text-success" th:if="${success}" th:text="${success}"></h5>
    </form>
</div>